<!-- Services Section -->
<div style="color: #00764BFF;">
  <div class="container py-3">
    <h2 class="text-center">Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-white bg-transparent">
          <div class="card-body ">
            <h5 class="card-title text-center">Lawn Care</h5>
            <p class="card-text">At Butler's Lawn Care, we blend expertise and dedication to transform your outdoor spaces into lush, vibrant lawns. As a team of seasoned professionals, we understand the value of a well-kept lawn, not just for its aesthetic appeal but for its contribution to a healthier environment.</p>
            <p>Our services include:</p>
            <br>
              <ul>
                <li><strong>Mowing & Maintenance:</strong>  Regular and precise mowing, edging, and trimming to keep your lawn looking immaculate.</li><br>
                <li><strong>Fertilization & Weed Control: </strong>Tailored solutions to nourish your lawn while keeping pesky weeds at bay.</li><br>
                <li><strong>Lawn Aeration: </strong>Enhancing soil health and grass root growth through expert aeration techniques.</li><br>
                <li><strong>Seasonal Clean-Up:</strong> Comprehensive care including leaf removal, branch clearing, and preparing your lawn for the changing seasons.</li><br>
              </ul>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card border-white bg-transparent">
          <div class="card-body ">
            <h5 class="card-title text-center">Pest Control</h5>
            <p class="card-text">We also specialize in restoring peace and safety to your home and office spaces by effectively tackling pest problems. Our dedicated team combines technical expertise with a thorough understanding of the challenges pests present, ensuring a healthier environment for you.</p>
            <p>Our services include:</p>
            <ul>
              <li><strong>Residential Pest Control: </strong>Customized solutions to keep your home safe from common household pests like ants, spiders, roaches, and rodents.</li><br>
              <li><strong>Commercial Pest Control: </strong>Tailored programs for businesses, ensuring your workspace is pest-free and compliant with health regulations.</li><br>
              <li><strong>Termite Inspection & Control: </strong>Comprehensive termite management, from detection to eradication and prevention.</li><br>
              <li><strong>Integrated Pest Management: </strong>Environmentally responsible methods to minimize pest activity while prioritizing safety and sustainability.</li><br>
              <li><strong>Emergency Services: </strong>Rapid response for urgent pest issues, because we know some problems can't wait.</li><br>
            </ul>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card border-white bg-transparent">
          <div class="card-body ">
            <h5 class="card-titl text-center">Maintenance</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
